@media (max-width:1740px){
    
    .aboutme-container{
        margin: 0 250px;
    }
    .Myskills-container{
        margin: 76px 250px;
    }

    :root{
        --fs-100: 19px;
        --fs-200: 23px;
        --fs-400: 42px;
        --fs-500: 60px;
    }
}
@media (max-width:1545px){
    .detail-union svg {
      width: 300px;
    }
    .detail-union{
        top: 250px;
    }
    .aboutme-container{
        margin: 0 200px;
    }
    .Myskills-container{
        margin: 76px 200px;
    }
    :root{
        --fs-100: 17px;
        --fs-200: 21px;
        --fs-400: 39px;
        --fs-500: 57px;
    }
    .detail-speech{
        max-width: 358px;
    }
}

@media(max-width:1436px){
    .education{
        right: 10%;
    }
    .skills-cards-container{
        gap: 40px;
    }
    .aboutme-container{
        margin: 0 150px;
    }
    .Myskills-container{
        margin: 76px 150px;
    }
    :root{
        --fs-100: 16px;
        --fs-200: 20px;
        --fs-400: 35px;
        --fs-500: 53px;
    }
    .antonio img{
        width: 500px;
    }
    .electro img{
        width: 250px;
    }
    .education img{
        width: 250px;
    }
    .aboutme-speeech {
        max-width: 600px;
    }
    .little-code img{
        width: 200px;
    }
    .big-code img{
        width: 300px;
    }
    .navbar{
        margin-bottom: 150px;
    }
    .solo-electro{
        top: 826px;
    }
    .solo-electro2{
        top: 824px;
    }
}
@media(max-width:1255px){
    .education{
        right: 10%;
    }
    .skills-cards-container{
       flex-wrap: wrap;
    }
    .aboutme-container{
        margin: 0 100px;
    }
    .Myskills-container{
        margin: 76px 100px;
    }
    :root{
        --fs-100: 16px;
        --fs-200: 20px;
        --fs-400: 30px;
        --fs-500: 48px;
    }
    .antonio img{
        width: 400px;
    }
    .electro img{
        width: 200px;
    }
    .education img{
        width: 200px;
    }
    .aboutme-speeech {
        max-width: 600px;
    }
    .little-code img{
        width: 150px;
    }
    .big-code img{
        width: 250px;
    }
    .navbar{
        margin-bottom: 100px;
    }
    .solo-electro{
        top: 680px;
    }
    .solo-electro2{
        top: 680px;
    }
    .solo-electro svg,.solo-electro2 svg,
    .solo-electro3 svg,.solo-electro4 svg{
     width: 1000px;
    }
    .detail-union svg {
        width: 230px;
    }
    .detail3 {
        margin-top: 50px;
    }
    .section1{
        margin-bottom: 350px;
    }
    .details-container {
        margin: 176px auto 80px;
    }
    .detail-union {
        top: 150px;
    }
    .navbar{
       padding-top: 20px; 
    }
    
}


@media(max-width:1100px){
   
    .aboutme-container{
        margin: 0 50px;
    }
    .Myskills-container{
        margin: 76px 50px;
    }
    :root{
        --fs-100: 16px;
        --fs-200: 20px;
        --fs-400: 30px;
        --fs-500: 48px;
    }
    .antonio img{
        width: 350px;
    }
    .electro img{
        width: 150px;
    }
    
    .aboutme-speeech {
        max-width: 500px;
    }
    .little-code img{
        width: 150px;
    }
    .big-code img{
        width: 250px;
    }
    .navbar{
        margin-bottom: 100px;
    }
    .solo-electro{
        top: 656px;
    }
    .solo-electro2{
        top: 654px;
    }
    .detail-union svg {
        width: 230px;
    }
    .detail3 {
        margin-top: 0px;
    }
    .detail-speech {
        max-width: 288px;
    }
    .solo-electro svg,.solo-electro2 svg,
    .solo-electro3 svg,.solo-electro4 svg{
     width: 700px;
    }
    h4{
        margin-bottom: 10px;
    }
}

@media (max-width:870px){
    .detail-speech {
        max-width: 200px;
    }
    
    :root{
        --fs-100: 14px;
        --fs-200: 18px;
        --fs-400: 26px;
        --fs-500: 40px;
    }
    .skill-card {
       flex-direction: row;
       max-width: 500px;
       align-items: center;
    }
    .skill-card-speech{
           display: flex;
           align-items: center;
    }
    .solo-electro{
        top: 526px;
    }
    .solo-electro2{
        top: 524px;
    }
    .antonio img{
        width: 300px;
    }
    .section1 {
        margin-bottom: 300px;
    }
    .aboutme-speeech {
        max-width: 400px;
    }
    .education img {
        width: 150px;
    }
    .education {
     top: 50px;
    }
    .little-code img{
        width: 100px;
    }
    .big-code img{
        width: 200px;
    }
    .solo-electro svg,.solo-electro2 svg,
    .solo-electro3 svg,.solo-electro4 svg{
     width: 600px;
    }
}

@media(max-width:670px){
    .solo-electro svg,.solo-electro2 svg,
    .solo-electro3 svg,.solo-electro4 svg{
     width: 400px;
    }
    .aboutme-container{
        margin: 0 20px;
    }
    .Myskills-container{
        margin: 76px 20px;
    }
    .education{
        top: 160px;
        right: 100px;
    }
    .details-container {
        margin: 250px auto 80px;
    }
    .aboutme-speeech {
        max-width: 90%;
    }
    .detail-union svg {
        width:180px;
    }
    
    :root{
        --fs-100: 14px;
        --fs-200: 17px;
        --fs-400: 25px;
        --fs-500: 40px;
    }
    .skill-card {
   
        max-width: 400px;
       
    }
    .detail2{
        margin-top: -40px;
    }
   
    .Myskills-container {
       
        padding-bottom: 100px;
       
    }
    .section1 {
        margin-bottom: 300px;
    }
    .solo-electro{
        top: 482px;
    }
    .solo-electro2{
        top: 480px;
    }
    .little-code img{
        width: 70px;
    }
    .big-code img{
        width: 150px;
    }
}

@media (max-width:580px){
    :root{
        --fs-100: 14px;
        --fs-200: 16px;
        --fs-400: 24px;
        --fs-500: 48px;
    }
    .detail-speech {
        max-width: 150px;
    }
    .antonio{
        display: none;
    }
    .solo-electro svg, .solo-electro2 svg, .solo-electro3 svg, .solo-electro4 svg {
        width: 330px;
    }
    .animated-text2{
        text-align: center;
    }
    .details-container {
        margin: 200px auto 80px;
    }
    .detail-union svg {
        width:130px;
    }
    .navbar{
        display: none;
    }
    .section1{
        padding-top: 350px;
    }
    .solo-electro{
        top: 782px;
    }
    .solo-electro2{
        top: 780px;
    }
   .detail3{
    margin-top: -70px;
   }
   .phone-electro{
    display: block;
   }
   .electro{
    display: none;
   }
   .animated-text {
  
    letter-spacing: 0.01em;
  

}
.aboutme-speeech {
    max-width: 100%;
}
.skill-card-icon img{
    width: 64px;
    }
 .skill-card-speech{
    height: 100px;
    margin: auto 10px;
 }   
 .skill-card {
    max-width: 370px;
}
}

@media (max-width:430px){
    :root{
        --fs-100: 12px;
        --fs-200: 14px;
        --fs-400: 22px;
        --fs-500: 45px;
    }
    .detail-speech {
        max-width: 120px;
    }
    .detail-union {
        top: 110px;
    }
    .detail2 {
        margin-top: -70px;
    }
    .phone-electro{
        left: -20%;
    }
}