:root {
    --primary-clr: rgba(8, 8, 8, 1);
    --secondary-clr: rgba(46, 134, 216, 1);
    --card-clr: #2E86D81A;
    --neutral-clr: rgba(160, 172, 189, 1);
    --last-clr: rgba(24, 61, 95, 1);
    
    --text-clr: rgba(233, 233, 233, 1);

    --ff-primary: "Monda", sans-serif;

    --fw-bold: 700;
    --fw-regular: 400;

    --fs-100: 20px;
    --fs-200: 24px;
    --fs-400: 48px;
    --fs-500: 64px;

    --fs-neutral: var(--fs-200);
    --fs-primary-heading: var(--fs-500);
    --fs-secondary-heading: var(--fs-400);
    --fs-body: var(--fs-100);
}

.ff-primary {
    font-family: var(--ff-primary);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-neutral {
    font-size: var(--fs-neutral);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-text {
    font-size: var(--fs-body);
}

.bg-primary {
    background-color: var(--primary-clr);
}

.bg-secondary {
    background-color: var(--last-clr);
}

.bg-cards {
    background-color: var(--card-clr);
}

.heading-colors {
    color: var(--secondary-clr);
}

.text-color {
    color: var(--text-clr);
}

.main-container {
    width: 100%;
    height: 100%;


  position: absolute;
   z-index: -9999999;
   
}

.topic-container{
    position: relative;
    
}
.inner-container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1980px;
}

body {
    margin: 0;  
    padding: 0;
}

.navbar {
    display: flex;

    padding-top: 63px;
    align-items: center;
    justify-content: center;
    margin-bottom: 216px;

}

.navbar ul {
    display: flex;
    padding: 0;
    gap: 32px;
    justify-content: space-between;

}

.navbar ul li {
    list-style: none;
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);

}
.navbar ul li a {
    text-decoration: none;
    color: var(--neutral-clr);
    transition: all 0.3s ease;
}

.navbar ul li a:hover{
    color: var(--text-clr);
    text-shadow: 0px 4px 15px  rgba(255, 255, 255, 0.60);    
}
.phone-electro{
    position: absolute;
    display: none;
}
.section1 {
    display: flex;
    flex-direction: column;
  margin-bottom: 492px;

}

.section1 div {
    margin: 0 auto;
}


.first_vue {
  
    position: relative;
    
}

.electro {
    position: absolute;
    top: 50px;

}

.antonio {
    position: absolute;
    top: 275px;
    right: 0;
    animation: moving 8s linear infinite;
}

@keyframes moving {
    0% {
        top: 275px;
        right: 0;
    }

    50% {
        top: 100px;
        right: -50px;
    }

    100% {
        top: 275px;
        right: 0;
    }
}

.solo-electro {
    position: absolute;
    top: 1026px;

}

.solo-electro2 {
    position: absolute;
    top: 1024px;


}

@keyframes colorCross {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }

}

/* Apply the mask animation */
#mask-rect {
    animation: colorCross 2s linear infinite;
}

/* Define the mask */
#color-mask {
    mask: url(#mask-rect);
}



@keyframes colorCross2 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }


}

#mask-rect2 {
    animation: colorCross2 2s linear infinite;

}

#color-mask2 {
    mask: url(#mask-rect2);
}


@keyframes typing {
    0% {
        width: 0;

    }

    25% {
        width: 100%;

    }

    50% {
        width: 100%;
    }

    75% {
        width: 0%;

    }

    100% {

        width: 0%;
    }
}

.animated-text {
    overflow: hidden;

    white-space: nowrap;
    border-right: .15em solid rgb(255, 255, 255);
    letter-spacing: .10em;
    animation: typing 10s steps(30, end) infinite, blink 1s step-end infinite;

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}












.aboutme-speeech {
    max-width: 754px;

}



.aboutme-container {
    position: relative;
    padding-bottom: 300px;
   margin: 0 328px;
}

.education {
    position: absolute;
    right: 15%;
    top: 0;
}

.detail-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    color: var(--secondary-clr);
    
}

.detail-speech {
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    color: var(--text-clr);

    max-width: 458px;
}

.detail-container-end {
    display: flex;
    justify-content: end;
   
}



.details-container {
   margin: 276px auto 136px;
}

.detail3 {
    margin-top: 100px;
}

.detail-union {
    position: absolute;
    top: 350px;
    right: 40%;
}

h4 {
    margin-top: 0;
}

.button {
    background-color: transparent;
    border-color: var(--neutral-clr);
    cursor: pointer;
   transition: all 0.6s ease;
}

.button span {
    color: var(--text-clr);
    font-size: var(--fs-200);
    font-family: var(--ff-primary);
    font-weight: bold;
    margin: 7px 23px;
}
.button:hover {
    background-color: var(--secondary-clr);
    border-color: transparent; 
}
.cv-button {
    display: flex;
    justify-content: center;
}

.solo-electro3 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.solo-electro4 {
    position: absolute;
    bottom: -1px;
    right: 1px;
}


@keyframes colorCross3 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }

}

#mask-rect3 {
    animation: colorCross3 2s linear infinite;
}

#color-mask3 {
    mask: url(#mask-rect3);
}



@keyframes colorCross4 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }


}

#mask-rect4 {
    animation: colorCross4 2s linear infinite;

}

#color-mask4 {
    mask: url(#mask-rect4);
}






.Myskills-container{
    position: relative;
    padding-bottom: 200px;  margin: 76px 328px;
}
.little-code{
    position: absolute;
    z-index: -1;
    top: -10%;
}
.big-code{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.myskills-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold);
    color: var(--text-clr);
    margin-bottom: 76px;
  


}

.skills-cards-container {
    display: flex;   
    gap: 86px;
    padding-bottom: 100px;
    justify-content: center;
}

.skill-card {
    border-radius: 2px;
    background-color: var(--card-clr);
    display: flex;
    flex-direction: column;
    max-width: 365px;
   

}

.skill-card-speech {
    margin: auto 34px;
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    color: var(--text-clr);
    height: 193px;
}


.myskills-main-container{
    position: relative;
}

.aboutme-main-container{
    position: relative;
}


.solo-electro6{
    position: absolute;
    top: -2px;
}
.edu{
    margin-top: 60px;
}
.about-me-cards{
   margin: 280px auto 150px;
   display: flex;
   flex-direction: column;
   gap: 80px;
}
.double-card{
    display: flex;
    gap: 80px;
   
}
.card{
    border-radius: 5px;
    border: 2px solid #FFF;
    overflow: hidden;
    position: relative;
   
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:transform 0.5s ;
}
.card:hover img {
    transform: scale(1.3);
}




.solo-electro7{
    display: flex;
   justify-content: flex-end;
   margin-bottom: 30px;
}
.solo-electro8{
    position: absolute;
    right: 1px;
    top: -1px;
}

.edu{
    right: 0;
    top: 50px;
}

.gmail{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}


.footer-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}